.parallax
    img.parallax__layer.parallax__layer--clouds(src=require('images/content/parallax/sky.png') role="presentation")
    img.parallax__layer.parallax__layer--mountains(src=require('images/content/parallax/mountain.png') role="presentation")
    img.parallax__layer.parallax__layer--balloon(src=require('images/content/parallax/baloon.png') role="presentation")
    img.parallax__layer.parallax__layer--overcast(src=require('images/content/parallax/сloud.png') role="presentation")
    img.parallax__layer.parallax__layer--stones(src=require('images/content/parallax/man.png') role="presentation")
    img.parallax__layer.parallax__layer--slope(src=require('images/content/parallax/mountain1.png') role="presentation")
    img.parallax__layer.parallax__layer--snow(src=require('images/content/parallax/white.png') role="presentation")