.parallax
    img.parallax__layer.parallax__layer--clouds(data-speed='0.1' src=require('images/content/parallax/sky.png') role="presentation")
    img.parallax__layer.parallax__layer--mountains(data-speed='0.2' src=require('images/content/parallax/mountain.png') role="presentation")
    img.parallax__layer.parallax__layer--balloon(data-speed='0.3' src=require('images/content/parallax/baloon.png') role="presentation")
    img.parallax__layer.parallax__layer--overcast(data-speed='0.4' src=require('images/content/parallax/сloud.png') role="presentation")
    img.parallax__layer.parallax__layer--stones(data-speed='0.5' src=require('images/content/parallax/man.png') role="presentation")
    img.parallax__layer.parallax__layer--slope(data-speed='0.6' src=require('images/content/parallax/mountain1.png') role="presentation")
    img.parallax__layer.parallax__layer--snow(data-speed='0.7' src=require('images/content/parallax/white.png') role="presentation")